/* CSS for the form in laptofy.php */
form { 
    width: 50%; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #090303; 
    border-radius: 5px; 
    background-color: #4ef1e0; 
    font-family: 'Times New Roman', Times, serif;
}
form input[type="text"], form input[type="file"], form select { 
    width: 100%; 
    padding: 10px; 
    margin: 15px 0; 
    border: 1px solid #7fa6c6; 
    border-radius: 4px; 
}
form input[type="submit"] { 
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}
form input[type="submit"]:hover { 
    background-color: #45a049; 
}
h1 {
    text-align: center; 
    color: #333; 
    margin-bottom: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-center {
    text-align: center; 
}

/* CSS for the table in display.php */
table {
    width: 80%; 
    margin: auto; 
    border-collapse: collapse; 

}
table, th, td {
    border: 1px solid #070606; 

}
th, td {
    padding: 10px; 
    text-align: left; 
}
th {
    background-color: #4ef1e0; 
}
tr:hover {
    background-color: #4ef1e0; 
}

/* CSS for the body in both files */
body {
    background-color: #ffffff; 
    font-family: Arial, sans-serif; 
}
button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
}
